<form>
  <div>
    <label>Author:</label>
    <input type="text" name="author">
  </div>
  <div>
    <label>Song:</label>
    <input type="text" name="subject">
  </div>
  <div>
    <label>URL:</label>
    <input type="text" name="content">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>